<div class='columns large-4 large-centered text-center'>
  <h2>Add a New Person to Life Tracker</h2>
  <%= simple_form_for @person do |f| %>
    <%= f.input :name, placeholder: "Person's Name", label: false %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to 'Go Back', root_path %>
</div>
